
    body{
        margin: 0px;
        padding: 0px;
        background-color: #0a0505bb;
    }
    .container{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .singleImg{
        display: block;
        width: 25%;
        height: 550px;
        position: relative
    }
    .singleImg img{
        width: 100%;
        position: relative;
        height: 550px;
        object-fit: cover;
    }

    .singleImg img:hover{
        border: 2px solid blue;
    }
    .desc{
        bottom: 0;
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    h1{
            color: white;
            font-size: 30px;
            font-weight: bold;
            margin: 10px;
        
        }
        p{
            font-size: 20px;
            color:  #e6e6e6;
            margin: 20px;
        }
        @media screen and (max-width: 480px) {
            h1{
            display: none;
        
        }
        p{
            display: none;
        }
            
        }         
